aiofiles
asgiref>=3.5.2 # Seems not needed, should be verified
beanie
fastapi
httpx
iniconfig>=1.1.1 # Seems not needed, should be verified
ocrd
pika>=1.2.0
psutil
py>=1.11.0 # Seems not needed, should be verified
pytest
pytest-asyncio>=0.18.3
pytest-docker>=1.0.0
pytest-env>=0.6.2
pytest-pudb>=0.7.0 # Seems not needed, should be verified
python-dotenv
python-multipart>=0.0.5
tomli>=2.0.0
uvicorn>=0.17.6
