# used to build url where the user can retrieve the resources
OCRD_WEBAPI_SERVER_PATH=http://localhost:5050

# both ports intended only to make it available on localhost
OCRD_WEBAPI_PORT=5050
OCRD_WEBAPI_MONGO_PORT=27018

# the webapi stores its data there. Also used in docker-compose. With a volume mount it is exposed
# to the host
OCRD_WEBAPI_STORAGE_DIR=/tmp/ocrd-webapi-data

# used by the webapi to connect to mongodb. Must fit to OCRD_WEBAPI_MONGO_PORT when the mongodb is
# used in local development environment
OCRD_WEBAPI_DB_URL=mongodb://localhost:27018/operandi

# dir on the host where the volumes are mounted where the webapi stores data
OCRD_WEBAPI_DATADIR_HOST=/tmp/ocrd-webapi-docker-volume

# uploading workflows is restricted. Leave empty to disable uploading workflows
OCRD_WEBAPI_USERNAME=test
OCRD_WEBAPI_PASSWORD=test
