# used to build url where the user can retrieve the resources
OCRD_WEBAPI_SERVER_PATH=http://localhost:5050

# both ports intended only to make it available on localhost
OCRD_WEBAPI_PORT=5050
OCRD_WEBAPI_MONGO_PORT=27018

# Directory where Fastapi stores its data (workspaces, workflows). If run in docker it is in the
# container, if run locally it is somewhere on your computer
OCRD_WEBAPI_STORAGE_DIR=/ocrd_webapi_data

# used by fastapi to connect to mongodb
OCRD_WEBAPI_DB_URL=mongodb://mongo:27017/operandi

# used in docker-compose (not used if only run locally): dir on the host where data dir and mongodb
# are mounted
OCRD_WEBAPI_DATADIR_HOST=/home/someuser/ocrd-webapi-data

# uploading workflows is restricted. Leave empty to disable uploading workflows
OCRD_WEBAPI_USERNAME=
OCRD_WEBAPI_PASSWORD=
