# used to build url where the user can retrieve the resources
OCRD_WEBAPI_SERVER_PATH=http://localhost:5050

# The default port is 8000 in constants.py, and in the Makefile
# Ideally, the default port must be the same number unless there
# is a good reason to not do that.

# both ports intended only to make it available on localhost
OCRD_WEBAPI_PORT=5050
OCRD_WEBAPI_MONGO_PORT=27018

# Directory where Fastapi stores its data (workspaces, workflows). If run in docker it is in the
# container, if run locally it is somewhere on your computer
OCRD_WEBAPI_STORAGE_DIR=/ocrd_webapi_data

# used by fastapi to connect to mongodb

# This should be described in a better way.
# E.g., what does `mongo` and `ocrd-webapi` stand for?
# Since there are few candidates for `mongo` - it's confusing.
# Naming should be straightforward and on point.
# In general, it's good to name docker images, docker services, and docker containers
# with different names. Having `mongo` as an image name, a docker service name,
# and a docker container name makes finding bugs a lot harder.
# `ocrd-webapi` seems to be the container name of the webapi service
# inside docker-compose.yml file.
OCRD_WEBAPI_DB_URL=mongodb://mongo:27017/ocrd-webapi

# used in docker-compose (not used if only run locally): dir on the host where data dir and mongodb
# are mounted
OCRD_WEBAPI_DATADIR_HOST=/tmp/ocrd-webapi-docker-volume

# path to processing-broker config-file (list where processing servers are available)
OCRD_PROCESSOR_CONFIG_PATH=/processor_config.yml

# uploading workflows is restricted. Leave empty to disable uploading workflows
OCRD_WEBAPI_USERNAME=test
OCRD_WEBAPI_PASSWORD=test
